/* Fields configuraton */
:root {
  --field-height: 3.5rem;
  --field-height-sequence: 1.2rem;

  --field-text-transform: normal;
  --field-border-radius: 3px;

  --field-font-size: var(--h6);
  --field-font-size-sequence: var(--major-second);

  /* colors */
  --field-placeholder-color: var(--lightgray);
  --field-placeholder-opacity: .75;

  --field-color: var(--softgray);
  --field-color-hover: var(--secondary-hover);
  --field-color-focus: var(--secondary-focus);

  /* borders */
  --field-border-color: var(--quinary);
  --field-border-color-hover: var(--quaternary-hover);
  --field-border-color-focus: var(--quaternary-focus);

  /* backgrounds */
  --field-background-hover: var(--whiteblue);
  --field-background-focus: var(--coldblue);
}