@import './colors';
@import './document';
@import './headings';

/* forms */
@import './buttons';
@import './fields';

:root {
  --hr-color: var(--secondary-lighten);
  --hr-opacity: 1;
  --hr-margin: var(--gutter-big) 0;
}